body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  background: rgba(0, 0, 0, .03);
}

h1 {
  font-size: 40px;
  color: rgba(0, 0, 0, .8);
  text-shadow: 0 1px 1px #fff;
}

#chat,
#nickname,
#messages {
  width: 600px;  
  text-align: left;
}
#chat {
  position: relative;
  margin: auto;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 1px rgb(255, 255, 255);
   -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #f7f7f7;
  box-shadow: 0 0 25px rgba(0, 0, 0, .07);
}

#nickname,
#connecting {
  position: absolute;
  height: 410px;
  z-index: 100;
  left: 0;
  top: 0;
  text-align: center;
  width: 600px;
  font: 15px;
  color: rgba(0, 0, 0, .5);
  display: block;
}
#nickname .wrap,
#connecting .wrap {
  padding-top: 100px;
}
#nickname input {
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  font-size: 14px;
  color: #777;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

label {
  display: block;
  margin: 20px 0;
  font-size: 18px;
}

#nickname input:focus {
  border-color: #999;
  outline: 0;
}
#nickname #nickname-err {
  color: #8b0000;
  font-size: 12px;
  visibility: hidden;
}
.connected #connecting {
  display: none;
}
.nickname-set #nickname {
  display: none;
}

#messages em {
  text-shadow: 0 1px 0 #fff;
  color: #999;
}
#messages p {
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, .5);
  font: 13px Helvetica, Arial;
  padding: 5px 10px;
}
#messages p b {
  display: inline-block;
  padding-right: 10px;
  color: rgba(0, 0, 0, .8);
}
#messages p:nth-child(even) {
  background: #fafafa;
}
#messages #nicknames {
  padding: 10px;
  font-size: 13px;
}
#messages #nicknames span {
  color: #000;
  font-weight: bold;
}
#messages #nicknames b {
  display: inline-block;
  color: #fff;
  background: #00b5d6;
  padding: 3px 6px;
  margin-right: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
}
#messages #lines {
  height: 250px;
  border-top: 1px solid #ddd;
  background: #fff;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
#messages #lines::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
#messages #lines::-webkit-scrollbar-button:start:decrement,
#messages #lines ::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 10px;
}
#messages #lines::-webkit-scrollbar-button:vertical:increment {
  background-color: #fff;
}
#messages #lines::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 3px;
}
#messages #lines::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #ccc;
  -webkit-border-radius: 3px;
}
#messages #lines::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: #fff;
  -webkit-border-radius: 3px;
}
#send-message {
  position: relative;
}

#send-message>div {
  text-align: center;
}

#send-message input {
  border: none;
  height: 40px;
  position: relative;
  font-size: 14px;
  color: #777;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, .1);
  padding: 0 10px;
  line-height: 30px;
  vertical-align: middle;
  width: 580px;
  z-index: 100;
}
#send-message input:focus {
  outline: 0;
}

#send-message button{
  line-height: 22px;
  margin: 20px 0;
  position: relative;
  width: 110px;
}

button, div.filebutton {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  background: #00b5d6;
  border: 1px solid #00a5c3;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #fff;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6),
              inset 0 0 10px #008da7;
  font: 600 1.3em/1.7em "helvetica neue", helvetica, arial, sans-serif;
  text-align: center;
  text-shadow: 0 1px 1px #006679;
  cursor: pointer;
  padding: 2px 0 2px 0;
  line-height: 1;
}
button:hover, div.filebutton:hover,
button.hover, div.filebutton.hover,
button:active,
button:focus, {
  background: #009cb8;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, .7),
             inset 0 0 10px #007287;
}

div.filebutton {
  line-height: 24px;
  margin: -7px 0;
  overflow: hidden;
  padding: 2px 0;
  position: relative;
  width: 150px !important;
}

.filebutton input#imagefile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
}

